html, body {
    background: transparent;
    font-family: system-ui, 'Segoe UI', Roboto, sans-serif;
    font-weight: 500;
    overflow: hidden;
    user-select: none; /* standard syntax */
    -webkit-user-select: none; /* webkit (safari, chrome) browsers */
    -moz-user-select: none; /* mozilla browsers */
    -khtml-user-select: none; /* webkit (konqueror) browsers */
    -ms-user-select: none; /* IE10+ */
    color-scheme: dark;
}

p, h1, h2, h3 {
    color: white;
    padding: 0;
    font-weight: 500;
    margin: 0;
}

p {
    font-size: 20px;
}
